<form class="form-signin" name="registerForm" role="registration" ng-submit="submit(registerForm)">
    <div class="alert alert-warning">
        <p class="text-center"><strong>Please NOTE</strong></p>
        <p class="text-center">All the data here is fake, it gets stored in your localStorage, it will <strong>NEVER</strong> leave your browser.</p>
    </div>
    <h2 class="form-signin-heading"><i class="fa fa-user"></i> New User</h2>
    <!--div class="form-group">
      <label for="username" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="username" placeholder="Username">
      </div>
    </div-->
    <div class="form-input username">
        <input type="text" class="form-control" placeholder="Username" name="username" ng-model="registerObj.username" autofocus="true" ng-minlength="4" ng-maxlength="16" ng-required="true" remote-validated="used">
        <div class="errors" ng-class="{ active: registerForm.username.$invalid && registerForm.username.$dirty }">
            <div class="error ng-hide" ng-show="registerForm.username.$error.minlength">
                <p>Username is too short!</p>
            </div>
            <div class="error ng-hide" ng-show="registerForm.username.$error.maxlength">
                <p>Max username length is 16, please shorten it.</p>
            </div>
            <div class="error ng-hide" ng-show="registerForm.username.$error.used">
                <p>Username is already taken.</p>
            </div>
        </div>
    </div>
    <div class="form-input name">
        <input type="text" class="form-control" placeholder="Real Name" name="name" ng-model="registerObj.name" ng-minlength="4" ng-maxlength="32" ng-required="true">
        <div class="errors" ng-class="{ active: registerForm.name.$invalid && registerForm.name.$dirty }">
            <div class="error ng-hide" ng-show="registerForm.name.$error.minlength">
                <p>Provided name is too short!</p>
            </div>
            <div class="error ng-hide" ng-show="registerForm.name.$error.maxlength">
                <p>Max name length is 32, please shorten it.</p>
            </div>
        </div>
    </div>
    <div class="form-input password">
        <input type="password" class="form-control password" placeholder="Password" name="password" ng-model="registerObj.password" ng-minlength="4" ng-maxlength="16" ng-required="true" password-match="registerObj.password2">
        <input type="password" class="form-control password2" placeholder="Repeat Password" name="password2" ng-model="registerObj.password2">
        <div class="errors" ng-class="{ active: registerForm.password.$invalid && registerForm.password.$dirty }">
            <div class="error ng-hide" ng-show="registerForm.password.$error.match">
                <p>Passwords do not match.</p>
            </div>
            <div class="error ng-hide" ng-show="registerForm.password.$error.minlength">
                <p>For your own safety, use a password longer than 4 characters.</p>
            </div>
            <div class="error ng-hide" ng-show="registerForm.password.$error.maxlength">
                <p>For your own <b>SANITY</b>, use a password shorter than 16 characters.</p>
            </div>
        </div>
    </div>
    <div class="form-input email">
        <input type="email" class="form-control email" placeholder="E-Mail" name="email" ng-model="registerObj.email" ng-required="true" remote-validated="used">
        <div class="errors" ng-class="{ active: registerForm.email.$invalid && registerForm.email.$dirty }">
            <div class="error ng-hide" ng-show="registerForm.email.$error.email">
                <p>E-Mail seems invalid.</p>
            </div>
            <div class="error ng-hide" ng-show="registerForm.email.$error.used">
                <p>E-Mail is already taken.</p>
            </div>
        </div>
    </div>
    <div class="form-input role">
        <select class="form-control" name="role" ng-model="registerObj.role">
        <option value="user" selected>User</option>
        <option value="admin">Administrator</option>
      </select>
    </div>
    <button class="btn btn-lg btn-block" type="submit" ng-class="{ 'btn-primary': registerForm.$valid && registerForm.$dirty, 'btn-success': redirect }" ng-disabled="registerForm.$invalid || registerForm.$pristine || xhr || redirect">
      <span ng-hide="redirect">Register <i class="fa fa-repeat fa-spin" ng-show="xhr"></i></span>
      <span ng-show="redirect">Redirecting... <i class="fa fa-repeat fa-spin"></i></span>
    </button>
</form>