/coverage
/custom
/dist
/docs/index.md
/gh-pages
/jsdoc
.idea
.project
.settings
.vscode
*.log
*.swp
*.stackdump
build

node_modules
npm-debug.log*

.docusaurus
.cache-loader

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
