# Deployment
/coverage
/custom
/dist
/gh-pages

# Node.js
node_modules/
npm-debug.log*

# Docs
.cache-loader
build/

# Generated type docs
docs/api
docs/.vuepress/dist

# Development
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.project
.settings
.vscode
*.log
*.swp
*.stackdump

# Generated
/test/types/autogen*.ts

# Eslint
.eslintcache
